.footer {
    background-color: #e8f0f5;
    display: grid;
    font-size: small;
    text-align: center;
    line-height: 1.6em;
}

.footer-column > * > a {
    color: #777;
}

/* BEGIN DESKTOP */

@media screen and (min-width: 900px) {
    .footer {
        padding-left: 15%;
        padding-right: 15%;
        
        grid-template-columns: repeat(3, 1fr);
    }
}

/* END DESKTOP */

/* BEGIN MOBILE */

@media screen and (max-width: 900px) {
    .footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* END MOBILE */