.header-bar {
    width: 100%;
    height: 5vh;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    background-image: linear-gradient(rgba(255, 255, 255, 0.8) , rgba(255, 255, 255, 0.4));
}

.wordmark {
    position: absolute;
    right: 0;
    width: auto;
    height: 100%;
}

#main-menu {
    background-color: #1c6abd;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear,opacity 0.3s linear;
}

#main-menu-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10vw;
    padding-right: 10vw;
}

#main-menu-content > * {
    text-align: center;
}

.main-menu-wordmark {
    display: block;
    width: auto;
    height: 7em;
    margin-left: auto;
    margin-right: auto;
}

.main-menu-entry {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.main-menu-wordmark:hover {
    -webkit-filter: drop-shadow(4px 4px 4px #17242ea0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#17242e')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#17242e')"
}

.main-menu-entry:hover, .main-menu-close-btn:hover {
    text-shadow: 4px 4px 4px #17242ea0;
}

.main-menu-close-btn {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fff;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
}

.main-menu-close-btn:hover {
    color: #e8f0f5;
}

.main-menu-open-btn {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;

    position: absolute;
    left: 0;

    width: auto;
    height: 100%
}

.main-menu-button-icon {
    width: auto;
    height: 100%;
}