#main-menu {
    background-color: #1c6abd;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear,opacity 0.3s linear;
}

#main-menu-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10vw;
    padding-right: 10vw;
}

#main-menu-content > * {
    text-align: center;
}

.main-menu-wordmark {
    display: block;
    width: auto;
    height: 7em;
    margin-left: auto;
    margin-right: auto;
}

.main-menu-entry {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.main-menu-close-btn {
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
}

.main-menu-close-btn:hover {
    color: #e8f0f5;
}

.main-menu-open-btn {
    background-color: transparent;
    border-color: transparent;
    
    margin: 0;
    padding: 0;

    position: fixed;
    top: 3vh;
    left: 3vh;
}

.main-menu-button-icon {
    margin: 0;
    padding: 0;
    width: 4vh;
    height: 4vh;
}