body {
    font-family: 'DejaVue sans', 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 1.8em;
    color: #17242eFF;
    background-color: transparent;
    letter-spacing: 0.03em;
}

.center {
    
}
