/* BEGIN General */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 1.8em;
    color: #17242eFF;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
}

a {
    color: inherit;
    transition: color 0.4s text-shadow 0.4s;
    transition-timing-function: ease;
    text-decoration: none;
}

a.no-hover-colorfx:hover {
    color: inherit;
}

.underline {
    text-decoration: underline;
}

.no-decoration {
    text-decoration: none;
}

h1 {
    font-size: 2.1em;
    font-weight: bold;
    margin-top: 1em;
}

h1.underline {
    text-decoration: 3px underline;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0;
}

h2.underline {
    text-decoration: 2px underline;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0;
}

h4 {
    font-size: 1.2em;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 0;
}

blockquote {
    padding-left: 1em;
    margin-top: 0.2em;
    padding-bottom: 0.2em;
    border-left: 5px solid #999;
}

blockquote > p {
    color: #666;
    margin: 0;
}

blockquote > footer {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: #666;
}

blockquote > footer::before {
    content: " — ";
}

hr {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-color: #e8f0f5
}

hr.dashed {
    border-top: 2px dashed #c0c6ca;
    border-bottom: none;
}

.sidepadding {
    padding-left: 20%;
    padding-right: 20%;
    transition: padding 0.5s;
}

.sidepadding-15 {
    padding-left: 15%;
    padding-right: 15%;
    transition: padding 0.5s;
}

@media screen and (max-width: 900px) {
    .sidepadding, .sidepadding-15 {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.small-margin-top {
    margin-top: 5vh;
}

.medium-margin-top {
    margin-top: 10vh;
}

.big-margin-top {
    margin-top: 15vh;
}

.huge-margin-top {
    margin-top: 20vh;
}

.small-margin {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.medium-margin {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.big-margin {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.huge-margin {
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.smaller-text {
    font-size: smaller;
}

.small-icon {
    height: 1em;
    width: auto;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.medium-icon {
    height: 2.5em;
    width: auto;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-self: center;
}

img.center {
    display: block;
}

img.small {
    width: 40%;
    height: auto;
    display: block;
    margin-top: 0.5em;
}

img.medium {
    width: 60%;
    height: auto;
    display: block;
    margin-top: 0.5em;
}

img.big {
    width: 80%;
    height: auto;
    display: block;
    margin-top: 0.5em;
}

img.full {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 0.5em;
}

/* END General */

/* BEGIN index.php */

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
}

.socials > * {
    margin-left: 2vw;
    margin-right: 2vw;
}

@media screen and (max-width: 900px) {
    .socials {
        display: block;
        width: min-content;
    }

    .socials-entry {
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
}

.welcome-banner {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100vh;
    background: url("/img/photos/Renderings/explosion1.png");
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    text-align: center;
}

.welcome-banner-content {
    margin-left: 10%;
    margin-right: 10%;
}

.welcome-banner-content > h1 {
    text-transform: uppercase;
}

/* END index.php */

/* BEGIN Artikel */

.articles {
    width: auto;
    transition: margin 0.5s;
}

@media screen and (min-width: 900px) {
    .articles {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.article-entry {
    display: grid;
    grid-template-columns: 5fr 1fr;
    column-gap: 5%;
}

.article-image {
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    height: auto;
    transition: transform 0.4s, filter 0.4s;
}

.article-image > img {
    width: 100%;
    height: auto;
}

.article-image:hover {
    filter: saturate(0.9) brightness(1.1);
    transform: scale(0.95);
}

.article-title {
    margin-bottom: 0;
    grid-area: 2 / 1 / 3 / 3;
}

.article-author {
    grid-area: 3 / 1 / 4 / 2;
    font-size: smaller;
}

.article-date {
    grid-area: 3 / 2 / 4 / 3;
    font-size: smaller;
    text-align: right;
}

/* END Artikel */

/* BEGIN Sponsor Werden */

.sponsors-members-grid {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1em;
}

.sponsors-member > p {
    text-align: left;
}

.sponsors-member-photo {
    width: 100%;
    height: auto;
}

/* END Sponsor Werden */

/* BEGIN Über uns */

/* begin desktop */

@media screen and (min-width: 1200px) {

    .general-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5%;
        row-gap: 5vh;
    }

    .general-container > * {
        width: 100%;
    }

    .about-us-container {
        display: grid;
        row-gap: 20vh;
    }

    .member {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 10fr;

        column-gap: 5%;
    }

    .member-name {
        padding: 0;
        margin: 0;
    }

    .member-desc {
        height: 100%
    }

    .member-img {
        height: auto;
        width: 100%;
        grid-area: 1 / 2 / 3 / 3;
    }

}

/* end desktop */

/* begin mobile */

@media screen and (max-width: 1200px) {

    .general-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .about-us-container {
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        row-gap: 5vh;
    }

    .member-img {
        width: 100%;
        height: auto;
    }
}

/* end mobile */

/* END Über uns */

/* BEGIN Twitter */

.twitter-embed {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 900px) {
    .twitter-embed {
        width: 100%;
    }
}

/* END Twitter */

/* BEGIN YouTube */

.yt-embed {
    margin-top: 2vh;
    width: 100%;
    height: 70vh;
}

.ytplayer {
    width: 100%;
    height: 100%;
}

/* END YouTube */