/* BEGIN General */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 1.8em;
    color: #17242eFF;
    background-color: transparent;
    letter-spacing: 0.03em;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    transition: color 0.2s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
}

a:hover {
    color: #777;
}

a.no-hover-colorfx:hover {
    color: inherit;
}

.underline {
    text-decoration: underline;
}

.no-decoration {
    text-decoration: none;
}

h1 {
    font-size: 2.1em;
    font-weight: bold;
}

h1.underline {
    text-decoration: 3px underline;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h2.underline {
    text-decoration: 2px underline;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

h4 {
    font-size: 1.2em;
    font-weight: normal;
}

hr {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

hr.dashed {
    border-top: 2px dashed #bbb;
    border-bottom: none;
}

.sidepadding {
    padding-left: 15%;
    padding-right: 15%;
    transition: padding 0.5s;
}

@media screen and (max-width: 900px) {
    .sidepadding {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.small-padding-top {
    padding-top: 2vh;
}

.medium-padding-top {
    padding-top: 5vh;
}

.big-padding-top {
    padding-top: 10vh;
}

.huge-padding-top {
    padding-top: 25vh;
}

.small-text {
    font-size: 0.8em;
}

.small-icon {
    height: 1em;
    width: auto;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.medium-icon {
    height: 2.5em;
    width: auto;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-self: center;
}

img.center {
    display: block;
}

/* END General */

/* BEGIN index.php */

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials > * {
    margin-left: 2vw;
    margin-right: 2vw;
}

@media screen and (max-width: 900px) {
    .socials {
        display: block;
        width: min-content;
    }

    .socials-entry {
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
}

.welcome-banner {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100vh;
    background: url("/img/photos/Renderings/explosion1.png");
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    text-align: center;
}

.welcome-banner-content {
    margin-left: 10%;
    margin-right: 10%;
}

.welcome-banner-content > h1 {
    text-transform: uppercase;
}

/* END index.php */

/* BEGIN Artikel */

.articles {
    margin-top: 10vh;
    width: auto;
}

.article-image {
    width: 100%;
    height: auto;
    transition: transform 0.4s, filter 0.4s;
}

.article-image:hover {
    filter: saturate(0.9) brightness(1.1);
    transform: scale(0.95);
}

/* END Artikel */

/* BEGIN Über uns */

/* begin desktop */

@media screen and (min-width: 1200px) {

    .general-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5%;
        row-gap: 5vh;
    }

    .general-container > * {
        width: 100%;
    }

    .about-us-container {
        display: grid;
        row-gap: 20vh;
    }

    .member {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 10fr;

        column-gap: 5%;
    }

    .member-name {
        padding: 0;
        margin: 0;
    }

    .member-desc {
        height: 100%
    }

    .member-img {
        height: auto;
        width: 100%;
        grid-area: 1 / 2 / 3 / 3;
    }

}

/* end desktop */

/* begin mobile */

@media screen and (max-width: 1200px) {

    .general-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .about-us-container {
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        row-gap: 5vh;
    }

    .member-img {
        width: 100%;
        height: auto;
    }
}

/* end mobile */

/* END Über uns */

/* BEGIN Twitter */

.twitter-embed {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 900px) {
    .twitter-embed {
        width: 100%;
    }
}

/* END Twitter */