body {
    font-family: 'DejaVue sans', 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 1.8em;
    color: #17242eFF;
    background-color: transparent;
    letter-spacing: 0.03em;
}

a {
    color: #fff;
    text-decoration: none;
}

/* BEGIN Main Menu */

#main-menu {
    background-color: rgba(0, 40, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear,opacity 0.3s linear;
}

#main-menu-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

.main-menu-icon {
    height: 10vh;
    width: auto;
    margin-left: 45%; 
}

.main-menu-title {
    width: max-content;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.main-menu-entry {
    width: max-content;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.main-menu-close-btn {
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
}

.main-menu-open-btn {
    width: max-content;
    background-color: transparent;
    border-color: transparent;
    font-size: 1.3em;
    position: fixed;
    top: 0;
    right: 0;
}

/* END Main Menu */

/* BEGIN Twitter */

.twitter-embed {
    padding: auto;
}

/* END Twitter*/