body {
    font-family: 'DejaVue sans', 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 1.8em;
    color: #17242eFF;
    background-color: transparent;
    letter-spacing: 0.03em;
}

/* BEGIN Main Menu */

#main-menu {
    background-color: #00f;
}

.main-menu-entry {
    background-color: #fff;
}

.main-menu-close-btn {
    background-color: #aaa;
}

/* END Main Menu */