.wordmark {
    position: absolute;
    top: 5vh;
    left: 5vh;
}

@media screen and (min-width: 900px) {
    .wordmark {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    .wordmark {
        visibility: hidden;
        opacity: 0;
    }
}