.wordmark {
    position: absolute;
    top: 4vh;
    left: 4vh;
    width: auto;
    height: 8vh;
}

/*
@media screen and (min-width: 900px) {
    .wordmark {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    .wordmark {
        visibility: hidden;
        opacity: 0;
    }
} */